body {
	margin: 0;
	background-color: #000;
	color: #212121;
	font-family: "Futura PT", sans-serif;
}
#sidebar {
	width: 200px;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: #fff;
	position: absolute;
}
#decades {
	position: absolute;
	left: 200px;
}
.btn {
    width: 100px;
    height: 30px;
    margin-right: 62px;
    background-color: #000;
    color: #888;
    border: none;
    border-left: 1px solid #212121;
    padding-left: 62px;
    padding-top: 10px;
    outline: none;

}
.active, .btn:hover {
	border-bottom: 1px solid #888;
}
/*
#location li:hover::after{
	content: ">";
	align-content: right;
	right: 0;
	position: absolute;
	color: #fff;
}
*/

text {
	z-index: 1000;
}
div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 150px;          
    /*height: 28px;         */
    padding: 3px;       
    font: 10px sans-serif;    
    background: lightgrey; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
  }

}
#chart {
	
}
h1, h2, h3 {
	color: #212121;
	font-family: "Kepler Std Display";
}
h1 {
border-top: 4px solid #212121;
font-size: 56px;
margin-left: 10px;
line-height: 38px;
}

h4 {
	font-size: 12px;
}

#location {
	position: absolute;
	left: 10px;
	top: 100px;
	width: 150px;
}

ul#location  {
    -webkit-padding-start: 5px;
}

#location li {
	border-top: 1px solid black;
}
#location li button {
	border: none;
	outline: none;
	background-color: none;
	font-style: italic;
	padding: 0px;
	width: 100%;
	text-align: left;
}


#location li.side button:hover::after {
	content: ">";
	align-content: right;
	right: 0;
	position: absolute;
}


#location h2 {
	line-height: 22px;
	margin-top: 5px;
	font-size: 18px;
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
}


a, a:hover {
	color: #888;
	text-decoration: none;
	border-bottom: 1px solid #cdcdcd;

}


#container {
	position: fixed;
	top: 0;
	
}

#scroll-up {
	margin-top: 100px;
  	color: #fff;    
}

#info {
	color: #888;
	position: absolute;
	bottom: 40px;
	left: 330px;
	width: 550px;
	font-size: 14px;
	font-weight: 100;
	background-color: rgba(0,0,0,.6);
}
p, svg {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}

.name-count {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

#bar-counts {
	position: absolute;
	bottom: 20px;
	left: 330px;
	width: 550px;
	height: 22px;
}
#name {
	position: absolute;
	bottom: 24px;
	left: 900px;
	width: auto;
	color: #eee;
	z-index: 5;
}
#name h2 {
	color: #cdcdcd;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 300;

}

button {

}
/*
#content {
	width: auto;
	position: absolute;
	left: 65%;
	padding: 5%;
	z-index: 3;
}

#overlay1 {
	background-color: #000;
	-webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.9)));
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;

}
#overlay2 {
	background-color: #000;
	-webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,.9)), to(rgba(0,0,0,0)));
    z-index: 9;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100px;

}
*/